<style>
header {background: black;color:white;}
</style>
<div class="flex-container">
<header>
<h1>Add Partner Transactions</h1>
</header>
</div>
<%= render 'form', partner_transcript: @partner_transcript %>

<%= link_to 'Back', partner_transcripts_path %>
